<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoolBlueColor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CoolBlueColor.My.MySettings>
            <setting name="txtbackupedited" serializeAs="String">
                <value>robocopy "\\192.168.16.1\fms diesel" "D:\diesel data" /s /XF file *.fil*</value>
            </setting>
            <setting name="txtbackupedited2" serializeAs="String">
                <value>"robocopy "\\194.193.192.1\Backup (D)\2011" "D:\2011" /s /im /XF file *.exe* &amp; robocopy "\\194.193.192.1\Backup (D)\2002" "D:\2002" /s /im /XF file *.exe*"</value>
            </setting>
            <setting name="txtbackupedited3" serializeAs="String">
                <value>robocopy "\\192.168.18.2\c\Program Files\QCAS" "D:\QC_LAB_BACKUP" /s /im /XF file *.crp*</value>
            </setting>
        </CoolBlueColor.My.MySettings>
    </userSettings>
</configuration>